# Environment variables
NODE_ENV=development
PORT=3001

# Clerk Backend API
CLERK_SECRET_KEY=your_clerk_secret_key_here
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here

# PostgreSQL Database
DATABASE_URL=postgresql://user:password@localhost:5432/recurrly
